@import url('/home/nekorosys/.cache/wal/colors-waybar.css');

/* Global styles */
window {
  min-width: 550px;
  min-height: 325px;
  margin: 0px;
  border: 2px solid @color5;
  border-radius: 10px;
  background-color: alpha(@background, 0.65);
  font-family: JetBrains Mono, monospace;
}

/* Input box */
#input {
  margin: 5px;
  border: 1px solid @color5;
  color: @text;
  background-color: alpha(@text-invert, 0.25);
  padding: 6px;
  border-radius: 5px;
}

#input::placeholder {
  color: @text-invert;
}

#input:focus {
  color: @color7;
}

#input prompt {
  color: @text-invert;
}

#input image {
  color: @color7;
}

image {
    margin-left: 10px;
}

#prompt {
  color: @text-invert;
}

/* Inner box */
#inner-box {
  margin: 5px;
  border: none;
  color: @color0;
  padding: 0px;
}

/* Outer box */
#outer-box {
  margin: 5px;
  border: none;
  padding: 5px;
}

/* Scroll area */
#scroll {
  margin: 0px;
}

/* Text styling */
#text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  margin: 15px;
  border: none;
  color: @text;
  font-size: 14px;
}

#entry.activatable #text {
  color: @color7;
}

#entry > * {
  color: @color7;
}

/* Active entry */
#entry:selected {
  background-color: @color1;
  border-bottom: 2px solid @color5;
  border-radius: 5px;
}

#entry:selected #text {
  font-weight: bold;
  color: white;
}

#entry:hover {
  background-color: @color10;
}

#entry:hover #text {
  color: @color11;
}
